body {
  background-color: #212121;
  color: white;
}

a {
  font-size: 32px;
  color: white;
}

.demon {
  position: relative;
  width: 560px;
  height: 350px;
  border: 10px solid #131313;
  padding: 50px;
  margin: 50px;
}

.placenum {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 80%);
  font-size: 27px;
}
